.bg-fill {
  background-color: #e6f5d3;
}
.heading-dark {
  background-color: #abd179;
}
.border-color {
  border: 1px solid #b7f06c;
}
.height {
  height: 50px;
}

ul {
  list-style: circle !important;
}

h3{
  filter: brightness(2);
color: #2d735c;
font-size: 25px;
font-family: var(--font);
}

